<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/admin.css">
        <link rel="stylesheet" href="/stylesheets/tables.css">
        <script src="https://kit.fontawesome.com/d1a2b3af9c.js" crossorigin="anonymous"></script>
        <title><%= title %></title>
    </head>
    
    <body>
        <div class="body_contain">
            <!--------- DASHBOARD MENU --------->
            <section class="dash_menu ">
                <a href="/" class="links">
                    <div class="logo">
                        <div class="logo-img">
                            <img src="https://pngroyale.com/wp-content/uploads/2021/11/Download-house-logo-design-vector-real-estate-logo-photos-.png" alt="">
                        </div>
                        <div class="logo_txt">
                            <h1>SERHANT CONSTRUCTION<br>COMPANY</h1>
                        </div>
                    </div>
                </a>
                <div class="profil_info">
                    <div class="profile_photo">
                        <img src="https://images.unsplash.com/photo-1627161684458-a62da52b51c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=549&q=80" alt="">
                    </div>
                    <span><%= my_session.emp_fnm %> <%= my_session.emp_lnm %></span>
                    <h4><%= depPosData.dep_nm %></h4>
                    <h4><%= depPosData.pos_nm %></h4>
                </div>
                <div class="dash_opts">
                    
                    <details class="option">
                        <summary><a href="/"><i class="fa-solid fa-house-user"></i>Dashboard</a></summary>
                    </details>
    
                    <details class="option">
                        <summary><a href="/salary-report/<%= empData.emp_id %>"><i class="fa-solid fa-users"></i>My Salary</a></summary>
                    </details>

                    <a class="logOut" href="/auth/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> log out</a>
                </div>        
            </section>
        
    
            <!--------- BODY / MAIN --------->
            <section class="body_main ">
                <div class="top_bar">
                    <div onclick="hideMenu()" title="Side Bar" class="menu_bars ">
                    <i class="fa-solid fa-bars"></i>
                    </div>
                </div>
    
                <h1><%= empData.emp_fnm %>'s Salary Reports</h1>


                <div class="table-contain">
                    <table>
                        <thead>
                            <tr>
                                <th><label>Cycles</label></th>
                                <th><label>Employee</label></th>
                                <th><label>Hours Worked</label></th>
                                <th><label>Hours Absent</label></th>
                                <th><label>Hours Overtime</label></th>
                                <th><label>Overtime Total</label></th>
                                <th><label>Salary Total</label></th>
                                <!-- <th><label>Action</label></th> -->
                            </tr>
                        </thead>
                        <tbody>

                        <% if(empSalData.length){
                   
                            for(var i = 0; i < empSalData.length; i++) {%> 
                                <tr>
                                    <td>
                                        <div>
                                            <%= new Date(empSalData[i].cycle_strt).toDateString() %> <br>
                                            <%= new Date(empSalData[i].cycle_end).toDateString() %>
                                        </div>
                                        
                                    </td>
                                    <td>
                                        <div><%= empSalData[i].emp_fnm %> <%= empSalData[i].emp_lnm %></div>
                                    </td>
                                    <td>
                                        <div><%= empSalData[i].ttl_hrs_wrkd %></div>
                                    </td>
                                    <td>
                                        <div><%= empSalData[i].abs_hrs %></div>
                                    </td>
                                    <td>
                                        <div><%= empSalData[i].ot_hrs %></div>
                                    </td>
                                    <td>
                                        <div><%= empSalData[i].ot_ttl %></div>
                                    </td>
                                    <td>
                                        <div>$ <%= empSalData[i].sal_ttl %>.00</div>
                                    </td>
                                    <!-- <td>
                                        <button type="submit" title="Save Changes"><i class="fa-solid fa-cloud-arrow-up"></i></button>
                                    </td> -->
                                </tr>
                            <% } %>
                        <% } else {%>
                            <tr>
                                <td colspan="9"><h2>No Salary Report yet</h2>
                                    <div class="empty">
                                        <img src="https://assets.materialup.com/uploads/c83a9663-be0b-4397-b1af-67f520e44ef1/preview.png" alt="">
                                    </div>
                                </td>
                            </tr>
                        <%} %>
                        </tbody>
                    </table>
                </div>


            </section>
            <% if (messages.success) { %>
                <div class="scss_mssg_cont">
                    <div class="scss_mssg">
                        <span class="closeX" onclick="closeX()"><i class="fa-solid fa-xmark"></i></span>
                        <h3>Welcome<br><%- messages.success %></h3>
                    </div>
                </div> 
            <% } %> 
    
        <script>
            function hideMenu(){
                document.querySelector('.dash_menu').classList.toggle('showHide');
                document.querySelector('.body_main').classList.toggle('width_adjust');
            }

            var closeX = () => {
                document.querySelector('.scss_mssg_cont').classList.add('close');
            }
        </script>
    </body>
</html>